table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: inherit;
    border-spacing: 2px;
    font-variant: normal;
    text-align: start;
}